/**
 * xp-start-plugin.scss - Luna (Blue) Start Button/Menu Styles
 *
 * This source-code is part of Windows XP stuff for XFCE:
 * <<https://www.oddmatics.uk>>
 *
 * Author(s): Rory Fewell <roryf@oddmatics.uk>
 */

button.xp-start-button
{
    background-image: linear-gradient(to bottom, 
rgb(155,197,153) 0%,
rgb(136,188,137) 4%,
rgb(121,179,121) 8%,
rgb(104,172,104) 12%,
rgb(89,164,89) 16%,
rgb(79,160,79) 20%,
rgb(74,158,73) 24%,
rgb(70,157,69) 28%,
rgb(69,157,69) 32%,
rgb(68,158,68) 36%,
rgb(65,167,65) 52%,
rgb(65,170,65) 56%,
rgb(64,173,65) 60%,
rgb(101,176,101) 100%);
    background-size:  100% 100%;
    background-color: transparent;
    border-style:     none;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-color:     #377f39;
    color:            #FFF;
    font-family:      'Franklin Gothic Medium';
    font-size:        14pt;
    font-style:       italic;
    margin-right:     0px;
    text-shadow:      1px 1px 2px #152404;
    box-shadow: inset 0px 1px  darken(#196346, 1%), inset 0px -1px  darken(#196346, 1%);

    &:hover
    {
        background-image: linear-gradient(to bottom, 
rgb(136,201,135) 0%,
rgb(140,205,138) 4%,
rgb(121,199,121) 8%,
rgb(103,192,103) 12%,
rgb(88,184,88) 16%,
rgb(79,180,79) 20%,
rgb(73,179,74) 24%,
rgb(69,179,70) 28%,
rgb(69,180,69) 32%,
rgb(68,181,68) 36%,
rgb(68,182,68) 40%,
rgb(67,185,67) 44%,
rgb(66,188,66) 48%,
rgb(66,189,66) 52%,
rgb(68,193,67) 56%,
rgb(70,197,68) 60%,
rgb(68,201,68) 64%,
rgb(68,204,68) 68%,
rgb(73,207,72) 72%,
rgb(73,207,73) 76%,
rgb(73,207,73) 80%,
rgb(73,207,73) 84%,
rgb(73,207,73) 88%,
rgb(73,202,73) 92%,
rgb(71,195,71) 96%,
rgb(70,187,69) 100%);
            box-shadow: inset 0px 1px  darken(#196346, 1%), inset 0px -1px  darken(#196346, 1%);


    }

    &:active,
    &:checked
    {
      background-image: linear-gradient(to bottom, 
rgb(56,104,56) 0%,
rgb(58,112,58) 4%,
rgb(51,121,51) 8%,
rgb(43,126,43) 12%,
rgb(37,128,37) 16%,
rgb(31,126,31) 20%,
rgb(29,126,29) 24%,
rgb(27,126,27) 28%,
rgb(24,126,24) 32%,
rgb(22,127,22) 36%,
rgb(21,129,21) 40%,
rgb(20,129,20) 44%,
rgb(19,130,19) 48%,
rgb(19,133,19) 52%,
rgb(19,134,19) 56%,
rgb(18,137,18) 60%,
rgb(16,138,16) 64%,
rgb(16,139,16) 68%,
rgb(16,141,16) 72%,
rgb(16,142,16) 76%,
rgb(17,145,17) 80%,
rgb(17,145,17) 84%,
rgb(17,146,17) 88%,
rgb(22,149,22) 92%,
rgb(27,150,27) 96%,
rgb(32,150,32) 100%);
          box-shadow: inset 0px 1px  darken(#196346, 5%), inset 0px -1px  darken(#196346, 5%);

    }

    @at-root .xp-flag
    {
        background-image:    url("assets/start_flag.png");
        background-position: center;
        background-repeat:   no-repeat;
        margin-left:         5px;
        margin-right:        4px;
        min-height:          20px;
        min-width:           20px;
    }

    label
    {
        margin-right: 14px;
    }
}

window.csd.xp-start-menu // Specificity hack -_-
{
    background: transparent;
    border:     none;

    decoration
    {
        box-shadow: 6px 6px 2px -3px rgba(0, 0, 0, 0.4);
    }

    menubar
    {
        padding: 6px;
        
        menuitem,
        separator
        {
            &:not(:last-child)
            {
                margin-bottom: 4px;
            }
        }
    }

    @at-root .xp-start-logoffpane
    {
        background-image:  
        linear-gradient(to left, transparentize(#175bd1, 0.3) 0%, transparentize(#175bd1, 0.95) 50%, transparentize(#175bd1, 0.3)), 
        linear-gradient(to bottom, 
rgb(67,139,227) 0%,
rgb(35,117,224) 50%,
rgb(15,96,204) 94.74%,
rgb(13,91,199) 97.37%,
rgb(12,86,192) 100%);
        background-position: -2px 0px;
        background-size:      101% 100%;
        border-color:         #356cca;
        border-style:         solid;
        border-width:         0px 4px;

        button
        {
            margin-bottom: 6px;
            margin-top:    4px;
            padding:       2px 8px 2px 2px;
            box-shadow: none;
            text-shadow: 0px 1px 2px #000;

            &:last-child
            {
                margin-right: -3px;
            }

            &,
            &:active,
            &:checked,
            &:focus,
            &:hover
            {
                background: transparent;
                border:     none;
                color:      #FFFFFF;
            }

            &:active,
            &:hover
            {
                background: $selected_bg_color;
                color:      $selected_fg_color;
            }

            &:active
            {
                padding: 3px 7px 1px 3px;
            }

            image
            {
                margin-right: 4px;
            }
        }
    }
    

    @at-root .xp-start-places-column
    {
        background-color:   #D3E5FA;
        background:   #D3E5FA;
        border-style: solid;
        border-width: 1px 4px 1px 1px;
        color:        #0A246A;
        border-color:         #356cca;
        border-top-color: #f8963c;

        menubar {
        	       background-image:  linear-gradient(to bottom,  #D3E5FA, darken( #D3E5FA, 1%));
        }
        menuitem
        {
            padding: 0px;

            &.significant
            {
                font-weight: bold;
            }

            image
            {
                margin-right: 2px;
            }
        }

        separator
        {
            background: linear-gradient(90deg, rgba(211,229,250,1) 0%, rgba(129,182,255,1) 35%, rgba(129,182,255,1) 50%, rgba(129,182,255,1) 65%, rgba(211,229,250,1) 100%);
        }
    }

    @at-root .xp-start-programs-column
    {
        background:   #FFFFFF;
        border-style: solid;
        border-width: 1px 4px 1px 1px;
        color:        #0A246A;
        border-color:         #356cca;
        border-top-color: #f8963c;
        color:        #373737;
        min-width:    182px;
        box-shadow:none;
        margin-right: -4px;

        box.xp-start-all-programs
        {
            font-weight: bold;
            min-height:  initial;

            .arrow
            {
                background-image: -gtk-icontheme("pan-end-symbolic");
                background-position: right center;
                background-repeat:   no-repeat;
                margin-left:         10px;
                min-height:          24px;
                min-width:           16px;
                
                &:hover
                {
                  //  background-image: url("assets/all_programs_arrow_hot.png");
                }
            }
        }
        
        
        separator
        {
            background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(211,211,200,1) 25%, rgba(211,211,200,1) 50%, rgba(211,211,200,1) 75%, rgba(255,255,255,1) 100%);
            
            &:nth-last-child(2)
            {
                margin-top: 10px;
            }
        }
    }

    @at-root .xp-start-userpane
    {
        background-image: 
        linear-gradient(to left, transparentize(#175bd1, 0.3) 0%, transparentize(#175bd1, 0.95) 50%, transparentize(#175bd1, 0.3)), 
        linear-gradient(to bottom, 
rgb(22,102,207) 0%,
rgb(17,98,204) 3.51%,
rgb(16,97,204) 5.26%,
rgb(14,96,203) 7.02%,
rgb(29,111,214) 49.12%,
rgb(30,112,215) 50.88%,
rgb(31,113,216) 52.63%,
rgb(57,136,231) 85.96%,
rgb(59,137,231) 87.72%,
rgb(61,138,232) 89.47%,
rgb(63,138,232) 91.23%,
rgb(64,140,232) 92.98%,
rgb(66,142,234) 94.74%,
rgb(71,146,236) 100%), 
         ; 
        background-size:      101% 100%;
        background-position: -2px 0px;
        border-top-left-radius: 7px;
        border-top-right-radius: 7px;
        border-style:         solid;
        border-color:         #356cca;
        border-width:         1px 1px 0px;
        box-shadow:           inset 0px 3px #3c81d9,inset 0px 2px #8bb5e7, inset 0px 1px #6ca5e8;
        min-width:            380px;

        box
        {
        	//user-tile
        	border-color:#356cca;
            border-style: solid;
            border-width: 3px 3px 3px 3px;
            margin:       2px 0px 2px 1px;
            
            image
            {
                background: #CCD6EB;
                box-shadow: none;
                margin: 0px;
            }
        }
        
        label
        {
            color:       #FFFFFF;
            font-family: 'Franklin Gothic Medium';
            font-size:   14pt;
            margin-left: 5px;
            text-shadow: 0px 1px 2px #000;
        }
    }
}

